body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    text-align: center;
}

/* Header */
header {
    background: #ff6f8ed5;
    color: white;
    padding: 20px;
}

/* Navigation */
nav {
    background: #ff9671;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: yellow;
}